<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    JEOPARDY!
  </h1>
</div>
<div>
  Your score: ${{ score }}
</div>
<div>
  Question: {{ question }}
</div>
<div>
  Category name: {{ categoryName }}
</div>
<div>
  Value: ${{ value }}
</div>
<div>
  <input type="text"
         placeholder="type your answer here"
         [(ngModel)]="submittedAnswer">
</div>
<div>
  <button [disabled]="submittedAnswer.length === 0"
          (click)="checkAnswer()">
    Submit answer
  </button>
</div>
